body {
    background-color: black;
}

#textBox {
    background-color: blanchedalmond;
    width: 80%;
    height: 20%;
    bottom: 0;
    border: 4px white solid;
    display: flex;
}

#menuButtons {
    font-family:monospace;
}
